<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/site.css">
  {% for style in page.styles %}
  <link rel="stylesheet" type="text/css" href="{{style}}">
  {% endfor %}
  <title>{{ page.title }}</title>
</head>
<body>
  {% include navigation.html %}
  <div class="container">
    <div class="row">
      {{ content }}
    </div>
  </div>
  <script type="text/javascript" src="/js/require.js"></script>
  <script type="text/javascript">
    require(['/js/require-config.js'], function(config) {
      require(["ga", "bootstrap", "{{ page.scripts | join: '", "'}}"]);
    });
  </script>
</body>
</html>
