<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/site.css">
  <title>{{ page.title }} - Nikolay Kush</title>
  <script type="text/javascript" src="/js/require.js"></script>
  <script type="text/javascript">
    require(['/js/require-config.js'], function(config) {
      require(["ga", "bootstrap", "{{ page.scripts | join: '", "'}}"]);
    });
  </script>
</head>
<body>
  {% include navigation.html %}
  <div class="container">
    <div class="row">
      {{ content }}
    </div>
  </div>
</body>
</html>
